@tailwind base;

/* Base styles */
#root {
  margin: 0 auto;
  text-align: center;
  contain: content;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility;
}